#score {
	position: absolute;
	top: 0;
	left: 50%;
	display: flex;
	padding: 20px 30px;
	transform: translateX(-50%);
	& > span {
		display: block;
		width: 50px;
		text-align: center;
	}
	.x {
		color: red;
	}
	.o {
		color: green;
	}
}
#app {
	display: flex;
	flex-wrap: wrap;
	width: 302px;
	border: 1px solid #f1f1f1;
	&.is-disable {
		.square:not(.is-active) {
			color: #f1f1f1;
		}
	}
	.square {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100px;
		height: 100px;
		border: 1px solid #f1f1f1;
		font-size: 60px;
		line-height: 1;
		text-align: center;
		cursor: pointer;
		&--x {
			color: red;
		}
		&--o {
			color: green;
		}
	}
}
#reset {
	position: absolute;
	bottom: 0;
	left: 50%;
	display: block;
	padding: 20px 30px;
	text-decoration: none;
	color: red;
	text-transform: uppercase;
	transform: translateX(-50%);
	outline: none;
}